[submodule "tb3_1_lift"]
	path = tb3_1_lift
	url = https://github.com/kenpegrasio/tb3_1_lift.git
[submodule "tb3_2_navigation2"]
	path = tb3_2_navigation2
	url = https://github.com/Nishuy52/tb3_2_navigation2.git
[submodule "tb3_4_camera"]
	path = tb3_4_camera
	url = https://github.com/kenpegrasio/tb3_4_camera.git
